@page
@model Prova1910.Pages.Alunos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].RA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluno[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Aluno) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
